In [2]:
import pandas as pd

การเปลี่ยนชื่อ column 

df.renames(columns={**ตรงนี้ต้องใช้เป็น dictionary**} )

และก็สามาที่จะเปลี่ยนหลายๆ อันพร้อมกันก็ได้
df.renames(columns={from1:to1, from2:to2} )

สามารถที่จะเปลี่ยนอย่างทีเงื่อนไขโดยใช้ regular expression 
ในตัวอย่างจะเป็นการเปลียน ช่องว่างให้เป็น (' ') ให้เป็น underscore ('_')
โดยใช้คำสั่ง **df.columns.str.replace(r' ', '_')**
 `r''` จะหมายถึงการกำหนดให้เป็น raw เขียนยังไงก็อ่านยังงั้น **เป็นมาตรฐานในการเขียน** ใส่ทุกคร้ัง
`r' '` ช่องว่าง (df)
`,` แทนที่
`'_'` ด้วย underscore

In [15]:
df = pd.read_table('https://github.com/prasertcbs/basic-dataset/raw/master/BaskinRobbins.tsv',
                  nrows=5)
df

,Flavour,Calories,Total Fat (g),Trans Fat (g),Carbohydrates (g),Sugars (g),Protein (g),Sugar Alcohol (g)
0,Bananas Foster,160,8,0.2,20,16,2,NaN
1,Baseball Nut,160,9,0.2,19,13,3,NaN
2,Beavertails Pastry,170,9,0.3,21,15,3,NaN
3,Blackberry Frozen Yogurt,120,4,0.1,17,16,3,NaN
4,Blue Raspberry Sherbet,130,2,0.1,26,20,2,NaN

In [6]:
df.rename(columns={'Flavour':'flavor'}, inplace = True)
df

,flavor,Calories,Total Fat (g),Trans Fat (g),Carbohydrates (g),Sugars (g),Protein (g),Sugar Alcohol (g)
0,Bananas Foster,160,8,0.2,20,16,2,NaN
1,Baseball Nut,160,9,0.2,19,13,3,NaN
2,Beavertails Pastry,170,9,0.3,21,15,3,NaN
3,Blackberry Frozen Yogurt,120,4,0.1,17,16,3,NaN
4,Blue Raspberry Sherbet,130,2,0.1,26,20,2,NaN

In [9]:
df.columns

Index(['flavor', 'Calories', 'Total Fat (g)', 'Trans Fat (g)',
       'Carbohydrates (g)', 'Sugars (g)', 'Protein (g)', 'Sugar Alcohol (g)'],
      dtype='object')

In [11]:
df.rename(columns={'Calories':'cal','Carbohydrates (g)':'carb'}, inplace=True)
df

,flavor,cal,Total Fat (g),Trans Fat (g),carb,Sugars (g),Protein (g),Sugar Alcohol (g)
0,Bananas Foster,160,8,0.2,20,16,2,NaN
1,Baseball Nut,160,9,0.2,19,13,3,NaN
2,Beavertails Pastry,170,9,0.3,21,15,3,NaN
3,Blackberry Frozen Yogurt,120,4,0.1,17,16,3,NaN
4,Blue Raspberry Sherbet,130,2,0.1,26,20,2,NaN

In [12]:
df.columns.str.replace(r' ', '_')

Index(['flavor', 'cal', 'Total_Fat_(g)', 'Trans_Fat_(g)', 'carb', 'Sugars_(g)',
       'Protein_(g)', 'Sugar_Alcohol_(g)'],
      dtype='object')

In [13]:
df.columns=df.columns.str.replace(r' ', '_')
df

,flavor,cal,Total_Fat_(g),Trans_Fat_(g),carb,Sugars_(g),Protein_(g),Sugar_Alcohol_(g)
0,Bananas Foster,160,8,0.2,20,16,2,NaN
1,Baseball Nut,160,9,0.2,19,13,3,NaN
2,Beavertails Pastry,170,9,0.3,21,15,3,NaN
3,Blackberry Frozen Yogurt,120,4,0.1,17,16,3,NaN
4,Blue Raspberry Sherbet,130,2,0.1,26,20,2,NaN

In [14]:
df.columns=df.columns.str.lower()
df

,flavor,cal,total_fat_(g),trans_fat_(g),carb,sugars_(g),protein_(g),sugar_alcohol_(g)
0,Bananas Foster,160,8,0.2,20,16,2,NaN
1,Baseball Nut,160,9,0.2,19,13,3,NaN
2,Beavertails Pastry,170,9,0.3,21,15,3,NaN
3,Blackberry Frozen Yogurt,120,4,0.1,17,16,3,NaN
4,Blue Raspberry Sherbet,130,2,0.1,26,20,2,NaN

In [16]:
df.columns

Index(['Flavour', 'Calories', 'Total Fat (g)', 'Trans Fat (g)',
       'Carbohydrates (g)', 'Sugars (g)', 'Protein (g)', 'Sugar Alcohol (g)'],
      dtype='object')

รวมทั้ง 2 คำสั่งเข้าด้วยกัน

In [17]:
df.columns = df.columns.str.lower().str.replace(r' ','_')
df

,flavour,calories,total_fat_(g),trans_fat_(g),carbohydrates_(g),sugars_(g),protein_(g),sugar_alcohol_(g)
0,Bananas Foster,160,8,0.2,20,16,2,NaN
1,Baseball Nut,160,9,0.2,19,13,3,NaN
2,Beavertails Pastry,170,9,0.3,21,15,3,NaN
3,Blackberry Frozen Yogurt,120,4,0.1,17,16,3,NaN
4,Blue Raspberry Sherbet,130,2,0.1,26,20,2,NaN

In [18]:
df.index.names

FrozenList([None])

In [19]:
df.index.names=['id']

In [20]:
df

,flavour,calories,total_fat_(g),trans_fat_(g),carbohydrates_(g),sugars_(g),protein_(g),sugar_alcohol_(g)
id,,,,,,,,
0,Bananas Foster,160,8,0.2,20,16,2,NaN
1,Baseball Nut,160,9,0.2,19,13,3,NaN
2,Beavertails Pastry,170,9,0.3,21,15,3,NaN
3,Blackberry Frozen Yogurt,120,4,0.1,17,16,3,NaN
4,Blue Raspberry Sherbet,130,2,0.1,26,20,2,NaN

In [22]:
df.set_index(['flavour','calories'], inplace=True)
df

,,total_fat_(g),trans_fat_(g),carbohydrates_(g),sugars_(g),protein_(g),sugar_alcohol_(g)
flavour,calories,,,,,,
Bananas Foster,160,8,0.2,20,16,2,NaN
Baseball Nut,160,9,0.2,19,13,3,NaN
Beavertails Pastry,170,9,0.3,21,15,3,NaN
Blackberry Frozen Yogurt,120,4,0.1,17,16,3,NaN
Blue Raspberry Sherbet,130,2,0.1,26,20,2,NaN

In [23]:
df.index.names=['FLAVOR','CAL']
df

,,total_fat_(g),trans_fat_(g),carbohydrates_(g),sugars_(g),protein_(g),sugar_alcohol_(g)
FLAVOR,CAL,,,,,,
Bananas Foster,160,8,0.2,20,16,2,NaN
Baseball Nut,160,9,0.2,19,13,3,NaN
Beavertails Pastry,170,9,0.3,21,15,3,NaN
Blackberry Frozen Yogurt,120,4,0.1,17,16,3,NaN
Blue Raspberry Sherbet,130,2,0.1,26,20,2,NaN