In [1]:
import pandas as pd

# Sorting value
การเลือกว่ามากไปน้อยหรือว่าน้อยไปมากสามาที่จะกำหนดได้โดย  
ascending=True/False _โดยถ้าไม่เขียนอะไรเครื่องจะกำหนดให้เป็น true_
- Sort single value
  df.sort_values('sleep_total')  
  df.sort_values('sleep_total', **ascending=False)**
  
  
- sort multiple value
  df.sort_values(['vore','sleep_total'])
  สามารถที่ผ่าน columns เข้าไปหลายๆ column ได้ แต่จะ**ต้องอยู่ใน list**  
  df.sort_values(['vore','sleep_total'], ascending=[True, False])  
  กำหนดมากไปน้อยหรือว่าน้อยไปมาก**แยกกันในแต่ละ column ได้**
- Sort index

  กำหนดถ้าอยากจะ sort index ก็ทำได้เหมืนอเดิม ในกรณีที่เรากำหนด column ที่เราต้องการเป็นหลัก
  df.set_index('name')
  **แค่ใช้ df.sort_index() แค่นี้ไม่ว่าจะสร้างกี่ level**
- Sort column  
  จริงแล้วๆ column มันก็คือ object ที่เป็น index ปรเภทหนึ่ง **แค่ตั้งให้ axis=1**  
  df4 = df3.sort_index **(axis=1)**

In [3]:
df=pd.read_csv('msleep.csv')
df.head()

,name,genus,vore,order,conservation,sleep_total,sleep_rem,sleep_cycle,awake,brainwt,bodywt
0,Cheetah,Acinonyx,carni,Carnivora,lc,12.1,NaN,NaN,11.9,NaN,50.000
1,Owl monkey,Aotus,omni,Primates,NaN,17.0,1.8,NaN,7.0,0.01550,0.480
2,Mountain beaver,Aplodontia,herbi,Rodentia,nt,14.4,2.4,NaN,9.6,NaN,1.350
3,Greater short-tailed shrew,Blarina,omni,Soricomorpha,lc,14.9,2.3,0.133333,9.1,0.00029,0.019
4,Cow,Bos,herbi,Artiodactyla,domesticated,4.0,0.7,0.666667,20.0,0.42300,600.000

In [5]:
df.sort_values('sleep_total')

,name,genus,vore,order,conservation,sleep_total,sleep_rem,sleep_cycle,awake,brainwt,bodywt
29,Giraffe,Giraffa,herbi,Artiodactyla,cd,1.9,0.4,NaN,22.10,NaN,899.995
30,Pilot whale,Globicephalus,carni,Cetacea,cd,2.7,0.1,NaN,21.35,NaN,800.000
22,Horse,Equus,herbi,Perissodactyla,domesticated,2.9,0.6,1.000000,21.10,0.65500,521.000
9,Roe deer,Capreolus,herbi,Artiodactyla,lc,3.0,NaN,NaN,21.00,0.09820,14.800
23,Donkey,Equus,herbi,Perissodactyla,domesticated,3.1,0.4,NaN,20.90,0.41900,187.000
...,...,...,...,...,...,...,...,...,...,...,...
19,North American Opossum,Didelphis,omni,Didelphimorphia,lc,18.0,4.9,0.333333,6.00,0.00630,1.700
61,Giant armadillo,Priodontes,insecti,Cingulata,en,18.1,6.1,NaN,5.90,0.08100,60.000
36,Thick-tailed opposum,Lutreolina,carni,Didelphimorphia,lc,19.4,6.6,NaN,4.60,NaN,0.370
21,Big brown bat,Eptesicus,insecti,Chiroptera,lc,19.7,3.9,0.116667,4.30,0.00030,0.023
42,Little brown bat,Myotis,insecti,Chiroptera,NaN,19.9,2.0,0.200000,4.10,0.00025,0.010

In [6]:
df.sort_values('sleep_total', ascending=False)

,name,genus,vore,order,conservation,sleep_total,sleep_rem,sleep_cycle,awake,brainwt,bodywt
42,Little brown bat,Myotis,insecti,Chiroptera,NaN,19.9,2.0,0.200000,4.10,0.00025,0.010
21,Big brown bat,Eptesicus,insecti,Chiroptera,lc,19.7,3.9,0.116667,4.30,0.00030,0.023
36,Thick-tailed opposum,Lutreolina,carni,Didelphimorphia,lc,19.4,6.6,NaN,4.60,NaN,0.370
61,Giant armadillo,Priodontes,insecti,Cingulata,en,18.1,6.1,NaN,5.90,0.08100,60.000
19,North American Opossum,Didelphis,omni,Didelphimorphia,lc,18.0,4.9,0.333333,6.00,0.00630,1.700
...,...,...,...,...,...,...,...,...,...,...,...
23,Donkey,Equus,herbi,Perissodactyla,domesticated,3.1,0.4,NaN,20.90,0.41900,187.000
9,Roe deer,Capreolus,herbi,Artiodactyla,lc,3.0,NaN,NaN,21.00,0.09820,14.800
22,Horse,Equus,herbi,Perissodactyla,domesticated,2.9,0.6,1.000000,21.10,0.65500,521.000
30,Pilot whale,Globicephalus,carni,Cetacea,cd,2.7,0.1,NaN,21.35,NaN,800.000
29,Giraffe,Giraffa,herbi,Artiodactyla,cd,1.9,0.4,NaN,22.10,NaN,899.995

# multiple sort

In [7]:
df.sort_values(['vore','sleep_total'])

,name,genus,vore,order,conservation,sleep_total,sleep_rem,sleep_cycle,awake,brainwt,bodywt
30,Pilot whale,Globicephalus,carni,Cetacea,cd,2.7,0.1,NaN,21.35,NaN,800.000
58,Caspian seal,Phoca,carni,Carnivora,vu,3.5,0.4,NaN,20.50,NaN,86.000
79,Bottle-nosed dolphin,Tursiops,carni,Cetacea,NaN,5.2,NaN,NaN,18.80,NaN,173.330
59,Common porpoise,Phocoena,carni,Cetacea,vu,5.6,NaN,NaN,18.45,NaN,53.180
31,Gray seal,Haliochoerus,carni,Carnivora,lc,6.2,1.5,NaN,17.80,0.32500,85.000
...,...,...,...,...,...,...,...,...,...,...,...
54,Desert hedgehog,Paraechinus,NaN,Erinaceomorpha,lc,10.3,2.7,NaN,13.70,0.00240,0.550
68,Mole rat,Spalax,NaN,Rodentia,NaN,10.6,2.4,NaN,13.40,0.00300,0.122
56,Deer mouse,Peromyscus,NaN,Rodentia,NaN,11.5,NaN,NaN,12.50,NaN,0.021
72,Musk shrew,Suncus,NaN,Soricomorpha,NaN,12.8,2.0,0.183333,11.20,0.00033,0.048
57,Phalanger,Phalanger,NaN,Diprotodontia,NaN,13.7,1.8,NaN,10.30,0.01140,1.620

In [8]:
df.sort_values(['vore','sleep_total'], ascending=[True, False])

,name,genus,vore,order,conservation,sleep_total,sleep_rem,sleep_cycle,awake,brainwt,bodywt
36,Thick-tailed opposum,Lutreolina,carni,Didelphimorphia,lc,19.4,6.6,NaN,4.6,NaN,0.370
17,Long-nosed armadillo,Dasypus,carni,Cingulata,lc,17.4,3.1,0.383333,6.6,0.0108,3.500
50,Tiger,Panthera,carni,Carnivora,en,15.8,NaN,NaN,8.2,NaN,162.564
46,Northern grasshopper mouse,Onychomys,carni,Rodentia,lc,14.5,NaN,NaN,9.5,NaN,0.028
52,Lion,Panthera,carni,Carnivora,vu,13.5,NaN,NaN,10.5,NaN,161.499
...,...,...,...,...,...,...,...,...,...,...,...
56,Deer mouse,Peromyscus,NaN,Rodentia,NaN,11.5,NaN,NaN,12.5,NaN,0.021
68,Mole rat,Spalax,NaN,Rodentia,NaN,10.6,2.4,NaN,13.4,0.0030,0.122
54,Desert hedgehog,Paraechinus,NaN,Erinaceomorpha,lc,10.3,2.7,NaN,13.7,0.0024,0.550
7,Vesper mouse,Calomys,NaN,Rodentia,NaN,7.0,NaN,NaN,17.0,NaN,0.045
62,Rock hyrax,Procavia,NaN,Hyracoidea,lc,5.4,0.5,NaN,18.6,0.0210,3.600

## Sort by index

In [9]:
df2 = df.set_index('name')
df2

,genus,vore,order,conservation,sleep_total,sleep_rem,sleep_cycle,awake,brainwt,bodywt
name,,,,,,,,,,
Cheetah,Acinonyx,carni,Carnivora,lc,12.1,NaN,NaN,11.9,NaN,50.000
Owl monkey,Aotus,omni,Primates,NaN,17.0,1.8,NaN,7.0,0.01550,0.480
Mountain beaver,Aplodontia,herbi,Rodentia,nt,14.4,2.4,NaN,9.6,NaN,1.350
Greater short-tailed shrew,Blarina,omni,Soricomorpha,lc,14.9,2.3,0.133333,9.1,0.00029,0.019
Cow,Bos,herbi,Artiodactyla,domesticated,4.0,0.7,0.666667,20.0,0.42300,600.000
...,...,...,...,...,...,...,...,...,...,...
Tree shrew,Tupaia,omni,Scandentia,NaN,8.9,2.6,0.233333,15.1,0.00250,0.104
Bottle-nosed dolphin,Tursiops,carni,Cetacea,NaN,5.2,NaN,NaN,18.8,NaN,173.330
Genet,Genetta,carni,Carnivora,NaN,6.3,1.3,NaN,17.7,0.01750,2.000
Arctic fox,Vulpes,carni,Carnivora,NaN,12.5,NaN,NaN,11.5,0.04450,3.380
Red fox,Vulpes,carni,Carnivora,NaN,9.8,2.4,0.350000,14.2,0.05040,4.230

In [11]:
df2.sort_index()

,genus,vore,order,conservation,sleep_total,sleep_rem,sleep_cycle,awake,brainwt,bodywt
name,,,,,,,,,,
African elephant,Loxodonta,herbi,Proboscidea,vu,3.3,NaN,NaN,20.7,5.7120,6654.000
African giant pouched rat,Cricetomys,omni,Rodentia,NaN,8.3,2.0,NaN,15.7,0.0066,1.000
African striped mouse,Rhabdomys,omni,Rodentia,NaN,8.7,NaN,NaN,15.3,NaN,0.044
Arctic fox,Vulpes,carni,Carnivora,NaN,12.5,NaN,NaN,11.5,0.0445,3.380
Arctic ground squirrel,Spermophilus,herbi,Rodentia,lc,16.6,NaN,NaN,7.4,0.0057,0.920
...,...,...,...,...,...,...,...,...,...,...
Tree hyrax,Dendrohyrax,herbi,Hyracoidea,lc,5.3,0.5,NaN,18.7,0.0123,2.950
Tree shrew,Tupaia,omni,Scandentia,NaN,8.9,2.6,0.233333,15.1,0.0025,0.104
Vesper mouse,Calomys,NaN,Rodentia,NaN,7.0,NaN,NaN,17.0,NaN,0.045
Vole,Microtus,herbi,Rodentia,NaN,12.8,NaN,NaN,11.2,NaN,0.035
Western american chipmunk,Eutamias,herbi,Rodentia,NaN,14.9,NaN,NaN,9.1,NaN,0.071

In [12]:
df2.sort_index(inplace=True)

In [14]:
df2

,genus,vore,order,conservation,sleep_total,sleep_rem,sleep_cycle,awake,brainwt,bodywt
name,,,,,,,,,,
African elephant,Loxodonta,herbi,Proboscidea,vu,3.3,NaN,NaN,20.7,5.7120,6654.000
African giant pouched rat,Cricetomys,omni,Rodentia,NaN,8.3,2.0,NaN,15.7,0.0066,1.000
African striped mouse,Rhabdomys,omni,Rodentia,NaN,8.7,NaN,NaN,15.3,NaN,0.044
Arctic fox,Vulpes,carni,Carnivora,NaN,12.5,NaN,NaN,11.5,0.0445,3.380
Arctic ground squirrel,Spermophilus,herbi,Rodentia,lc,16.6,NaN,NaN,7.4,0.0057,0.920
...,...,...,...,...,...,...,...,...,...,...
Tree hyrax,Dendrohyrax,herbi,Hyracoidea,lc,5.3,0.5,NaN,18.7,0.0123,2.950
Tree shrew,Tupaia,omni,Scandentia,NaN,8.9,2.6,0.233333,15.1,0.0025,0.104
Vesper mouse,Calomys,NaN,Rodentia,NaN,7.0,NaN,NaN,17.0,NaN,0.045
Vole,Microtus,herbi,Rodentia,NaN,12.8,NaN,NaN,11.2,NaN,0.035
Western american chipmunk,Eutamias,herbi,Rodentia,NaN,14.9,NaN,NaN,9.1,NaN,0.071

In [15]:
df3 = df.set_index(['vore','name'])
df3

                                       genus         order  conservation  \
vore  name
carni Cheetah                       Acinonyx     Carnivora            lc
omni  Owl monkey                       Aotus      Primates           NaN
herbi Mountain beaver             Aplodontia      Rodentia            nt
omni  Greater short-tailed shrew     Blarina  Soricomorpha            lc
herbi Cow                                Bos  Artiodactyla  domesticated
...                                      ...           ...           ...
omni  Tree shrew                      Tupaia    Scandentia           NaN
carni Bottle-nosed dolphin          Tursiops       Cetacea           NaN
      Genet                          Genetta     Carnivora           NaN
      Arctic fox                      Vulpes     Carnivora           NaN
      Red fox                         Vulpes     Carnivora           NaN

                                  sleep_total  sleep_rem  sleep_cycle  awake  \
vore  name
carni Cheetah                            12.1        NaN          NaN   11.9
omni  Owl monkey                         17.0        1.8          NaN    7.0
herbi Mountain beaver                    14.4        2.4          NaN    9.6
omni  Greater short-tailed shrew         14.9        2.3     0.133333    9.1
herbi Cow                                 4.0        0.7     0.666667   20.0
...                                       ...        ...          ...    ...
omni  Tree shrew                          8.9        2.6     0.233333   15.1
carni Bottle-nosed dolphin                5.2        NaN          NaN   18.8
      Genet                               6.3        1.3          NaN   17.7
      Arctic fox                         12.5        NaN          NaN   11.5
      Red fox                             9.8        2.4     0.350000   14.2

                                  brainwt   bodywt
vore  name
carni Cheetah                         NaN   50.000
omni  Owl monkey                  0.01550    0.480
herbi Mountain beaver                 NaN    1.350
omni  Greater short-tailed shrew  0.00029    0.019
herbi Cow                         0.42300  600.000
...                                   ...      ...
omni  Tree shrew                  0.00250    0.104
carni Bottle-nosed dolphin            NaN  173.330
      Genet                       0.01750    2.000
      Arctic fox                  0.04450    3.380
      Red fox                     0.05040    4.230

[83 rows x 9 columns]

In [16]:
df3.sort_index()

                                genus          order conservation  \
vore  name
carni Arctic fox               Vulpes      Carnivora          NaN
      Bottle-nosed dolphin   Tursiops        Cetacea          NaN
      Caspian seal              Phoca      Carnivora           vu
      Cheetah                Acinonyx      Carnivora           lc
      Common porpoise        Phocoena        Cetacea           vu
...                               ...            ...          ...
NaN   Mole rat                 Spalax       Rodentia          NaN
      Musk shrew               Suncus   Soricomorpha          NaN
      Phalanger             Phalanger  Diprotodontia          NaN
      Rock hyrax             Procavia     Hyracoidea           lc
      Vesper mouse            Calomys       Rodentia          NaN

                            sleep_total  sleep_rem  sleep_cycle  awake  \
vore  name
carni Arctic fox                   12.5        NaN          NaN  11.50
      Bottle-nosed dolphin          5.2        NaN          NaN  18.80
      Caspian seal                  3.5        0.4          NaN  20.50
      Cheetah                      12.1        NaN          NaN  11.90
      Common porpoise               5.6        NaN          NaN  18.45
...                                 ...        ...          ...    ...
NaN   Mole rat                     10.6        2.4          NaN  13.40
      Musk shrew                   12.8        2.0     0.183333  11.20
      Phalanger                    13.7        1.8          NaN  10.30
      Rock hyrax                    5.4        0.5          NaN  18.60
      Vesper mouse                  7.0        NaN          NaN  17.00

                            brainwt   bodywt
vore  name
carni Arctic fox            0.04450    3.380
      Bottle-nosed dolphin      NaN  173.330
      Caspian seal              NaN   86.000
      Cheetah                   NaN   50.000
      Common porpoise           NaN   53.180
...                             ...      ...
NaN   Mole rat              0.00300    0.122
      Musk shrew            0.00033    0.048
      Phalanger             0.01140    1.620
      Rock hyrax            0.02100    3.600
      Vesper mouse              NaN    0.045

[83 rows x 9 columns]

In [17]:
df3.sort_index(inplace=True)

In [18]:
df3

                                genus          order conservation  \
vore  name
carni Arctic fox               Vulpes      Carnivora          NaN
      Bottle-nosed dolphin   Tursiops        Cetacea          NaN
      Caspian seal              Phoca      Carnivora           vu
      Cheetah                Acinonyx      Carnivora           lc
      Common porpoise        Phocoena        Cetacea           vu
...                               ...            ...          ...
NaN   Mole rat                 Spalax       Rodentia          NaN
      Musk shrew               Suncus   Soricomorpha          NaN
      Phalanger             Phalanger  Diprotodontia          NaN
      Rock hyrax             Procavia     Hyracoidea           lc
      Vesper mouse            Calomys       Rodentia          NaN

                            sleep_total  sleep_rem  sleep_cycle  awake  \
vore  name
carni Arctic fox                   12.5        NaN          NaN  11.50
      Bottle-nosed dolphin          5.2        NaN          NaN  18.80
      Caspian seal                  3.5        0.4          NaN  20.50
      Cheetah                      12.1        NaN          NaN  11.90
      Common porpoise               5.6        NaN          NaN  18.45
...                                 ...        ...          ...    ...
NaN   Mole rat                     10.6        2.4          NaN  13.40
      Musk shrew                   12.8        2.0     0.183333  11.20
      Phalanger                    13.7        1.8          NaN  10.30
      Rock hyrax                    5.4        0.5          NaN  18.60
      Vesper mouse                  7.0        NaN          NaN  17.00

                            brainwt   bodywt
vore  name
carni Arctic fox            0.04450    3.380
      Bottle-nosed dolphin      NaN  173.330
      Caspian seal              NaN   86.000
      Cheetah                   NaN   50.000
      Common porpoise           NaN   53.180
...                             ...      ...
NaN   Mole rat              0.00300    0.122
      Musk shrew            0.00033    0.048
      Phalanger             0.01140    1.620
      Rock hyrax            0.02100    3.600
      Vesper mouse              NaN    0.045

[83 rows x 9 columns]

## columns sorting

In [19]:
df4 = df3.sort_index(axis=1)
df4

                            awake   bodywt  brainwt conservation      genus  \
vore  name
carni Arctic fox            11.50    3.380  0.04450          NaN     Vulpes
      Bottle-nosed dolphin  18.80  173.330      NaN          NaN   Tursiops
      Caspian seal          20.50   86.000      NaN           vu      Phoca
      Cheetah               11.90   50.000      NaN           lc   Acinonyx
      Common porpoise       18.45   53.180      NaN           vu   Phocoena
...                           ...      ...      ...          ...        ...
NaN   Mole rat              13.40    0.122  0.00300          NaN     Spalax
      Musk shrew            11.20    0.048  0.00033          NaN     Suncus
      Phalanger             10.30    1.620  0.01140          NaN  Phalanger
      Rock hyrax            18.60    3.600  0.02100           lc   Procavia
      Vesper mouse          17.00    0.045      NaN          NaN    Calomys

                                    order  sleep_cycle  sleep_rem  sleep_total
vore  name
carni Arctic fox                Carnivora          NaN        NaN         12.5
      Bottle-nosed dolphin        Cetacea          NaN        NaN          5.2
      Caspian seal              Carnivora          NaN        0.4          3.5
      Cheetah                   Carnivora          NaN        NaN         12.1
      Common porpoise             Cetacea          NaN        NaN          5.6
...                                   ...          ...        ...          ...
NaN   Mole rat                   Rodentia          NaN        2.4         10.6
      Musk shrew             Soricomorpha     0.183333        2.0         12.8
      Phalanger             Diprotodontia          NaN        1.8         13.7
      Rock hyrax               Hyracoidea          NaN        0.5          5.4
      Vesper mouse               Rodentia          NaN        NaN          7.0

[83 rows x 9 columns]

In [20]:
df

,name,genus,vore,order,conservation,sleep_total,sleep_rem,sleep_cycle,awake,brainwt,bodywt
0,Cheetah,Acinonyx,carni,Carnivora,lc,12.1,NaN,NaN,11.9,NaN,50.000
1,Owl monkey,Aotus,omni,Primates,NaN,17.0,1.8,NaN,7.0,0.01550,0.480
2,Mountain beaver,Aplodontia,herbi,Rodentia,nt,14.4,2.4,NaN,9.6,NaN,1.350
3,Greater short-tailed shrew,Blarina,omni,Soricomorpha,lc,14.9,2.3,0.133333,9.1,0.00029,0.019
4,Cow,Bos,herbi,Artiodactyla,domesticated,4.0,0.7,0.666667,20.0,0.42300,600.000
...,...,...,...,...,...,...,...,...,...,...,...
78,Tree shrew,Tupaia,omni,Scandentia,NaN,8.9,2.6,0.233333,15.1,0.00250,0.104
79,Bottle-nosed dolphin,Tursiops,carni,Cetacea,NaN,5.2,NaN,NaN,18.8,NaN,173.330
80,Genet,Genetta,carni,Carnivora,NaN,6.3,1.3,NaN,17.7,0.01750,2.000
81,Arctic fox,Vulpes,carni,Carnivora,NaN,12.5,NaN,NaN,11.5,0.04450,3.380
82,Red fox,Vulpes,carni,Carnivora,NaN,9.8,2.4,0.350000,14.2,0.05040,4.230