In [2]:
import pandas as pd

In [3]:
df=pd.read_csv('mpg.csv')
df

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,class
0,audi,a4,1.8,1999,4,auto(l5),f,18,29,p,compact
1,audi,a4,1.8,1999,4,manual(m5),f,21,29,p,compact
2,audi,a4,2.0,2008,4,manual(m6),f,20,31,p,compact
3,audi,a4,2.0,2008,4,auto(av),f,21,30,p,compact
4,audi,a4,2.8,1999,6,auto(l5),f,16,26,p,compact
...,...,...,...,...,...,...,...,...,...,...,...
229,volkswagen,passat,2.0,2008,4,auto(s6),f,19,28,p,midsize
230,volkswagen,passat,2.0,2008,4,manual(m6),f,21,29,p,midsize
231,volkswagen,passat,2.8,1999,6,auto(l5),f,16,26,p,midsize
232,volkswagen,passat,2.8,1999,6,manual(m5),f,18,26,p,midsize
233,volkswagen,passat,3.6,2008,6,auto(s6),f,17,26,p,midsize

In [4]:
df.describe()

            displ         year         cyl         cty         hwy
count  234.000000   234.000000  234.000000  234.000000  234.000000
mean     3.471795  2003.500000    5.888889   16.858974   23.440171
std      1.291959     4.509646    1.611534    4.255946    5.954643
min      1.600000  1999.000000    4.000000    9.000000   12.000000
25%      2.400000  1999.000000    4.000000   14.000000   18.000000
50%      3.300000  2003.500000    6.000000   17.000000   24.000000
75%      4.600000  2008.000000    8.000000   19.000000   27.000000
max      7.000000  2008.000000    8.000000   35.000000   44.000000

In [5]:
df.columns

Index(['manufacturer', 'model', 'displ', 'year', 'cyl', 'trans', 'drv', 'cty',
       'hwy', 'fl', 'class'],
      dtype='object')

In [6]:
df.groupby('class').describe()

           displ                                                 year  \
           count      mean       std  min  25%   50%   75%  max count
class
2seater      5.0  6.160000  0.531977  5.7  5.7  6.20  6.20  7.0   5.0
compact     47.0  2.325532  0.452274  1.8  2.0  2.20  2.80  3.3  47.0
midsize     41.0  2.921951  0.718510  1.8  2.4  2.80  3.50  5.3  41.0
minivan     11.0  3.390909  0.452669  2.4  3.3  3.30  3.80  4.0  11.0
pickup      33.0  4.418182  0.828574  2.7  3.9  4.70  4.70  5.9  33.0
subcompact  35.0  2.660000  1.102457  1.6  1.9  2.20  3.25  5.4  35.0
suv         62.0  4.456452  1.065805  2.5  4.0  4.65  5.30  6.5  62.0

                         ...    cty         hwy                             \
                   mean  ...    75%   max count       mean       std   min
class                    ...
2seater     2004.400000  ...  16.00  16.0   5.0  24.800000  1.303840  23.0
compact     2003.212766  ...  21.00  33.0  47.0  28.297872  3.781620  23.0
midsize     2003.609756  ...  21.00  23.0  41.0  27.292683  2.135930  23.0
minivan     2003.090909  ...  17.00  18.0  11.0  22.363636  2.062655  17.0
pickup      2003.636364  ...  14.00  17.0  33.0  16.878788  2.274280  12.0
subcompact  2003.114286  ...  23.50  35.0  35.0  28.142857  5.375012  20.0
suv         2003.790323  ...  14.75  20.0  62.0  18.129032  2.977973  12.0


             25%   50%   75%   max
class
2seater     24.0  25.0  26.0  26.0
compact     26.0  27.0  29.0  44.0
midsize     26.0  27.0  29.0  32.0
minivan     22.0  23.0  24.0  24.0
pickup      16.0  17.0  18.0  22.0
subcompact  24.5  26.0  30.5  44.0
suv         17.0  17.5  19.0  27.0

[7 rows x 40 columns]

In [7]:
df.groupby('class').describe().T

class            2seater      compact      midsize      minivan       pickup  \
displ count     5.000000    47.000000    41.000000    11.000000    33.000000
      mean      6.160000     2.325532     2.921951     3.390909     4.418182
      std       0.531977     0.452274     0.718510     0.452669     0.828574
      min       5.700000     1.800000     1.800000     2.400000     2.700000
      25%       5.700000     2.000000     2.400000     3.300000     3.900000
      50%       6.200000     2.200000     2.800000     3.300000     4.700000
      75%       6.200000     2.800000     3.500000     3.800000     4.700000
      max       7.000000     3.300000     5.300000     4.000000     5.900000
year  count     5.000000    47.000000    41.000000    11.000000    33.000000
      mean   2004.400000  2003.212766  2003.609756  2003.090909  2003.636364
      std       4.929503     4.539374     4.554547     4.700097     4.567673
      min    1999.000000  1999.000000  1999.000000  1999.000000  1999.000000
      25%    1999.000000  1999.000000  1999.000000  1999.000000  1999.000000
      50%    2008.000000  1999.000000  2008.000000  1999.000000  2008.000000
      75%    2008.000000  2008.000000  2008.000000  2008.000000  2008.000000
      max    2008.000000  2008.000000  2008.000000  2008.000000  2008.000000
cyl   count     5.000000    47.000000    41.000000    11.000000    33.000000
      mean      8.000000     4.595745     5.317073     5.818182     7.030303
      std       0.000000     0.900714     1.149761     0.603023     1.334280
      min       8.000000     4.000000     4.000000     4.000000     4.000000
      25%       8.000000     4.000000     4.000000     6.000000     6.000000
      50%       8.000000     4.000000     6.000000     6.000000     8.000000
      75%       8.000000     6.000000     6.000000     6.000000     8.000000
      max       8.000000     6.000000     8.000000     6.000000     8.000000
cty   count     5.000000    47.000000    41.000000    11.000000    33.000000
      mean     15.400000    20.127660    18.756098    15.818182    13.000000
      std       0.547723     3.385500     1.946542     1.834022     2.046338
      min      15.000000    15.000000    15.000000    11.000000     9.000000
      25%      15.000000    18.000000    18.000000    15.500000    11.000000
      50%      15.000000    20.000000    18.000000    16.000000    13.000000
      75%      16.000000    21.000000    21.000000    17.000000    14.000000
      max      16.000000    33.000000    23.000000    18.000000    17.000000
hwy   count     5.000000    47.000000    41.000000    11.000000    33.000000
      mean     24.800000    28.297872    27.292683    22.363636    16.878788
      std       1.303840     3.781620     2.135930     2.062655     2.274280
      min      23.000000    23.000000    23.000000    17.000000    12.000000
      25%      24.000000    26.000000    26.000000    22.000000    16.000000
      50%      25.000000    27.000000    27.000000    23.000000    17.000000
      75%      26.000000    29.000000    29.000000    24.000000    18.000000
      max      26.000000    44.000000    32.000000    24.000000    22.000000

class         subcompact          suv
displ count    35.000000    62.000000
      mean      2.660000     4.456452
      std       1.102457     1.065805
      min       1.600000     2.500000
      25%       1.900000     4.000000
      50%       2.200000     4.650000
      75%       3.250000     5.300000
      max       5.400000     6.500000
year  count    35.000000    62.000000
      mean   2003.114286  2003.790323
      std       4.548894     4.527284
      min    1999.000000  1999.000000
      25%    1999.000000  1999.000000
      50%    1999.000000  2008.000000
      75%    2008.000000  2008.000000
      max    2008.000000  2008.000000
cyl   count    35.000000    62.000000
      mean      5.028571     6.967742
      std       1.464998     1.436842
      min       4.000000     4.000000
      25%       4.000000     6.000000
      50%       4.000000     8.000000
      75%       6.000000     8.000000
      max       8.000000     8.000000
cty   count    35.000000    62.000000
      mean     20.371429    13.500000
      std       4.602338     2.420879
      min      14.000000     9.000000
      25%      17.000000    12.000000
      50%      19.000000    13.000000
      75%      23.500000    14.750000
      max      35.000000    20.000000
hwy   count    35.000000    62.000000
      mean     28.142857    18.129032
      std       5.375012     2.977973
      min      20.000000    12.000000
      25%      24.500000    17.000000
      50%      26.000000    17.500000
      75%      30.500000    19.000000
      max      44.000000    27.000000

In [8]:
g=df.groupby('class')

In [9]:
g

In [10]:
g.groups

{'2seater': [23, 24, 25, 26, 27], 'compact': [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 141, 142, 169, 170, 171, 172, 186, 187, 188, 189, 190, 191, 192, 193, 194, 195, 196, 197, 207, 208, 209, 210, 211, 212, 213, 214, 215, 216, 217, 218, 219, 220], 'midsize': [15, 16, 17, 32, 33, 34, 35, 36, 108, 109, 110, 111, 112, 113, 114, 143, 144, 145, 146, 147, 148, 149, 154, 155, 156, 157, 158, 179, 180, 181, 182, 183, 184, 185, 227, 228, 229, 230, 231, 232, 233], 'minivan': [37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47], 'pickup': [48, 49, 50, 51, 52, 53, 54, 55, 56, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 83, 84, 85, 86, 87, 88, 89, 200, 201, 202, 203, 204, 205, 206], 'subcompact': [90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100, 101, 102, 103, 104, 105, 106, 107, 115, 116, 117, 118, 119, 120, 121, 165, 166, 167, 168, 221, 222, 223, 224, 225, 226], 'suv': [18, 19, 20, 21, 22, 28, 29, 30, 31, 57, 58, 59, 60, 61, 62, 63, 74, 75, 76, 77, 78, 79, 80, 81, 82, 122, 123, 124, 125, 126, 127, 128, 129, 130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 150, 151, 152, 153, 159, 160, 161, 162, 163, 164, 173, 174, 175, 176, 177, 178, 198, 199]}

In [11]:
g.get_group('minivan')

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,class
37,dodge,caravan 2wd,2.4,1999,4,auto(l3),f,18,24,r,minivan
38,dodge,caravan 2wd,3.0,1999,6,auto(l4),f,17,24,r,minivan
39,dodge,caravan 2wd,3.3,1999,6,auto(l4),f,16,22,r,minivan
40,dodge,caravan 2wd,3.3,1999,6,auto(l4),f,16,22,r,minivan
41,dodge,caravan 2wd,3.3,2008,6,auto(l4),f,17,24,r,minivan
42,dodge,caravan 2wd,3.3,2008,6,auto(l4),f,17,24,r,minivan
43,dodge,caravan 2wd,3.3,2008,6,auto(l4),f,11,17,e,minivan
44,dodge,caravan 2wd,3.8,1999,6,auto(l4),f,15,22,r,minivan
45,dodge,caravan 2wd,3.8,1999,6,auto(l4),f,15,21,r,minivan
46,dodge,caravan 2wd,3.8,2008,6,auto(l6),f,16,23,r,minivan
47,dodge,caravan 2wd,4.0,2008,6,auto(l6),f,16,23,r,minivan

In [12]:
for k,v in g:
    print(k)
    print(v)

2seater
   manufacturer     model  displ  year  cyl       trans drv  cty  hwy fl  \
23    chevrolet  corvette    5.7  1999    8  manual(m6)   r   16   26  p
24    chevrolet  corvette    5.7  1999    8    auto(l4)   r   15   23  p
25    chevrolet  corvette    6.2  2008    8  manual(m6)   r   16   26  p
26    chevrolet  corvette    6.2  2008    8    auto(s6)   r   15   25  p
27    chevrolet  corvette    7.0  2008    8  manual(m6)   r   15   24  p

      class
23  2seater
24  2seater
25  2seater
26  2seater
27  2seater
compact
    manufacturer         model  displ  year  cyl       trans drv  cty  hwy fl  \
0           audi            a4    1.8  1999    4    auto(l5)   f   18   29  p
1           audi            a4    1.8  1999    4  manual(m5)   f   21   29  p
2           audi            a4    2.0  2008    4  manual(m6)   f   20   31  p
3           audi            a4    2.0  2008    4    auto(av)   f   21   30  p
4           audi            a4    2.8  1999    6    auto(l5)   f   16   26  p
5           audi            a4    2.8  1999    6  manual(m5)   f   18   26  p
6           audi            a4    3.1  2008    6    auto(av)   f   18   27  p
7           audi    a4 quattro    1.8  1999    4  manual(m5)   4   18   26  p
8           audi    a4 quattro    1.8  1999    4    auto(l5)   4   16   25  p
9           audi    a4 quattro    2.0  2008    4  manual(m6)   4   20   28  p
10          audi    a4 quattro    2.0  2008    4    auto(s6)   4   19   27  p
11          audi    a4 quattro    2.8  1999    6    auto(l5)   4   15   25  p
12          audi    a4 quattro    2.8  1999    6  manual(m5)   4   17   25  p
13          audi    a4 quattro    3.1  2008    6    auto(s6)   4   17   25  p
14          audi    a4 quattro    3.1  2008    6  manual(m6)   4   15   25  p
141       nissan        altima    2.4  1999    4  manual(m5)   f   21   29  r
142       nissan        altima    2.4  1999    4    auto(l4)   f   19   27  r
169       subaru   impreza awd    2.5  2008    4    auto(s4)   4   20   25  p
170       subaru   impreza awd    2.5  2008    4    auto(s4)   4   20   27  r
171       subaru   impreza awd    2.5  2008    4  manual(m5)   4   19   25  p
172       subaru   impreza awd    2.5  2008    4  manual(m5)   4   20   27  r
186       toyota  camry solara    2.2  1999    4    auto(l4)   f   21   27  r
187       toyota  camry solara    2.2  1999    4  manual(m5)   f   21   29  r
188       toyota  camry solara    2.4  2008    4  manual(m5)   f   21   31  r
189       toyota  camry solara    2.4  2008    4    auto(s5)   f   22   31  r
190       toyota  camry solara    3.0  1999    6    auto(l4)   f   18   26  r
191       toyota  camry solara    3.0  1999    6  manual(m5)   f   18   26  r
192       toyota  camry solara    3.3  2008    6    auto(s5)   f   18   27  r
193       toyota       corolla    1.8  1999    4    auto(l3)   f   24   30  r
194       toyota       corolla    1.8  1999    4    auto(l4)   f   24   33  r
195       toyota       corolla    1.8  1999    4  manual(m5)   f   26   35  r
196       toyota       corolla    1.8  2008    4  manual(m5)   f   28   37  r
197       toyota       corolla    1.8  2008    4    auto(l4)   f   26   35  r
207   volkswagen           gti    2.0  1999    4  manual(m5)   f   21   29  r
208   volkswagen           gti    2.0  1999    4    auto(l4)   f   19   26  r
209   volkswagen           gti    2.0  2008    4  manual(m6)   f   21   29  p
210   volkswagen           gti    2.0  2008    4    auto(s6)   f   22   29  p
211   volkswagen           gti    2.8  1999    6  manual(m5)   f   17   24  r
212   volkswagen         jetta    1.9  1999    4  manual(m5)   f   33   44  d
213   volkswagen         jetta    2.0  1999    4  manual(m5)   f   21   29  r
214   volkswagen         jetta    2.0  1999    4    auto(l4)   f   19   26  r
215   volkswagen         jetta    2.0  2008    4    auto(s6)   f   22   29  p
216   volkswagen         jetta    2.0  2008    4  manual(m6)   f   21   29  p
217   volkswagen         jetta    2.5  2008    5    auto(s6)   f   21   29  r
218   volkswagen         jetta    2.5  2008    5  manual(m5)   f   21   29  r
219   volkswagen         jetta    2.8  1999    6    auto(l4)   f   16   23  r
220   volkswagen         jetta    2.8  1999    6  manual(m5)   f   17   24  r

       class
0    compact
1    compact
2    compact
3    compact
4    compact
5    compact
6    compact
7    compact
8    compact
9    compact
10   compact
11   compact
12   compact
13   compact
14   compact
141  compact
142  compact
169  compact
170  compact
171  compact
172  compact
186  compact
187  compact
188  compact
189  compact
190  compact
191  compact
192  compact
193  compact
194  compact
195  compact
196  compact
197  compact
207  compact
208  compact
209  compact
210  compact
211  compact
212  compact
213  compact
214  compact
215  compact
216  compact
217  compact
218  compact
219  compact
220  compact
midsize
    manufacturer       model  displ  year  cyl       trans drv  cty  hwy fl  \
15          audi  a6 quattro    2.8  1999    6    auto(l5)   4   15   24  p
16          audi  a6 quattro    3.1  2008    6    auto(s6)   4   17   25  p
17          audi  a6 quattro    4.2  2008    8    auto(s6)   4   16   23  p
32     chevrolet      malibu    2.4  1999    4    auto(l4)   f   19   27  r
33     chevrolet      malibu    2.4  2008    4    auto(l4)   f   22   30  r
34     chevrolet      malibu    3.1  1999    6    auto(l4)   f   18   26  r
35     chevrolet      malibu    3.5  2008    6    auto(l4)   f   18   29  r
36     chevrolet      malibu    3.6  2008    6    auto(s6)   f   17   26  r
108      hyundai      sonata    2.4  1999    4    auto(l4)   f   18   26  r
109      hyundai      sonata    2.4  1999    4  manual(m5)   f   18   27  r
110      hyundai      sonata    2.4  2008    4    auto(l4)   f   21   30  r
111      hyundai      sonata    2.4  2008    4  manual(m5)   f   21   31  r
112      hyundai      sonata    2.5  1999    6    auto(l4)   f   18   26  r
113      hyundai      sonata    2.5  1999    6  manual(m5)   f   18   26  r
114      hyundai      sonata    3.3  2008    6    auto(l5)   f   19   28  r
143       nissan      altima    2.5  2008    4    auto(av)   f   23   31  r
144       nissan      altima    2.5  2008    4  manual(m6)   f   23   32  r
145       nissan      altima    3.5  2008    6  manual(m6)   f   19   27  p
146       nissan      altima    3.5  2008    6    auto(av)   f   19   26  p
147       nissan      maxima    3.0  1999    6    auto(l4)   f   18   26  r
148       nissan      maxima    3.0  1999    6  manual(m5)   f   19   25  r
149       nissan      maxima    3.5  2008    6    auto(av)   f   19   25  p
154      pontiac  grand prix    3.1  1999    6    auto(l4)   f   18   26  r
155      pontiac  grand prix    3.8  1999    6    auto(l4)   f   16   26  p
156      pontiac  grand prix    3.8  1999    6    auto(l4)   f   17   27  r
157      pontiac  grand prix    3.8  2008    6    auto(l4)   f   18   28  r
158      pontiac  grand prix    5.3  2008    8    auto(s4)   f   16   25  p
179       toyota       camry    2.2  1999    4  manual(m5)   f   21   29  r
180       toyota       camry    2.2  1999    4    auto(l4)   f   21   27  r
181       toyota       camry    2.4  2008    4  manual(m5)   f   21   31  r
182       toyota       camry    2.4  2008    4    auto(l5)   f   21   31  r
183       toyota       camry    3.0  1999    6    auto(l4)   f   18   26  r
184       toyota       camry    3.0  1999    6  manual(m5)   f   18   26  r
185       toyota       camry    3.5  2008    6    auto(s6)   f   19   28  r
227   volkswagen      passat    1.8  1999    4  manual(m5)   f   21   29  p
228   volkswagen      passat    1.8  1999    4    auto(l5)   f   18   29  p
229   volkswagen      passat    2.0  2008    4    auto(s6)   f   19   28  p
230   volkswagen      passat    2.0  2008    4  manual(m6)   f   21   29  p
231   volkswagen      passat    2.8  1999    6    auto(l5)   f   16   26  p
232   volkswagen      passat    2.8  1999    6  manual(m5)   f   18   26  p
233   volkswagen      passat    3.6  2008    6    auto(s6)   f   17   26  p

       class
15   midsize
16   midsize
17   midsize
32   midsize
33   midsize
34   midsize
35   midsize
36   midsize
108  midsize
109  midsize
110  midsize
111  midsize
112  midsize
113  midsize
114  midsize
143  midsize
144  midsize
145  midsize
146  midsize
147  midsize
148  midsize
149  midsize
154  midsize
155  midsize
156  midsize
157  midsize
158  midsize
179  midsize
180  midsize
181  midsize
182  midsize
183  midsize
184  midsize
185  midsize
227  midsize
228  midsize
229  midsize
230  midsize
231  midsize
232  midsize
233  midsize
minivan
   manufacturer        model  displ  year  cyl     trans drv  cty  hwy fl  \
37        dodge  caravan 2wd    2.4  1999    4  auto(l3)   f   18   24  r
38        dodge  caravan 2wd    3.0  1999    6  auto(l4)   f   17   24  r
39        dodge  caravan 2wd    3.3  1999    6  auto(l4)   f   16   22  r
40        dodge  caravan 2wd    3.3  1999    6  auto(l4)   f   16   22  r
41        dodge  caravan 2wd    3.3  2008    6  auto(l4)   f   17   24  r
42        dodge  caravan 2wd    3.3  2008    6  auto(l4)   f   17   24  r
43        dodge  caravan 2wd    3.3  2008    6  auto(l4)   f   11   17  e
44        dodge  caravan 2wd    3.8  1999    6  auto(l4)   f   15   22  r
45        dodge  caravan 2wd    3.8  1999    6  auto(l4)   f   15   21  r
46        dodge  caravan 2wd    3.8  2008    6  auto(l6)   f   16   23  r
47        dodge  caravan 2wd    4.0  2008    6  auto(l6)   f   16   23  r

      class
37  minivan
38  minivan
39  minivan
40  minivan
41  minivan
42  minivan
43  minivan
44  minivan
45  minivan
46  minivan
47  minivan
pickup
    manufacturer                model  displ  year  cyl       trans drv  cty  \
48         dodge    dakota pickup 4wd    3.7  2008    6  manual(m6)   4   15
49         dodge    dakota pickup 4wd    3.7  2008    6    auto(l4)   4   14
50         dodge    dakota pickup 4wd    3.9  1999    6    auto(l4)   4   13
51         dodge    dakota pickup 4wd    3.9  1999    6  manual(m5)   4   14
52         dodge    dakota pickup 4wd    4.7  2008    8    auto(l5)   4   14
53         dodge    dakota pickup 4wd    4.7  2008    8    auto(l5)   4   14
54         dodge    dakota pickup 4wd    4.7  2008    8    auto(l5)   4    9
55         dodge    dakota pickup 4wd    5.2  1999    8  manual(m5)   4   11
56         dodge    dakota pickup 4wd    5.2  1999    8    auto(l4)   4   11
64         dodge  ram 1500 pickup 4wd    4.7  2008    8  manual(m6)   4   12
65         dodge  ram 1500 pickup 4wd    4.7  2008    8    auto(l5)   4    9
66         dodge  ram 1500 pickup 4wd    4.7  2008    8    auto(l5)   4   13
67         dodge  ram 1500 pickup 4wd    4.7  2008    8    auto(l5)   4   13
68         dodge  ram 1500 pickup 4wd    4.7  2008    8  manual(m6)   4   12
69         dodge  ram 1500 pickup 4wd    4.7  2008    8  manual(m6)   4    9
70         dodge  ram 1500 pickup 4wd    5.2  1999    8    auto(l4)   4   11
71         dodge  ram 1500 pickup 4wd    5.2  1999    8  manual(m5)   4   11
72         dodge  ram 1500 pickup 4wd    5.7  2008    8    auto(l5)   4   13
73         dodge  ram 1500 pickup 4wd    5.9  1999    8    auto(l4)   4   11
83          ford      f150 pickup 4wd    4.2  1999    6    auto(l4)   4   14
84          ford      f150 pickup 4wd    4.2  1999    6  manual(m5)   4   14
85          ford      f150 pickup 4wd    4.6  1999    8  manual(m5)   4   13
86          ford      f150 pickup 4wd    4.6  1999    8    auto(l4)   4   13
87          ford      f150 pickup 4wd    4.6  2008    8    auto(l4)   4   13
88          ford      f150 pickup 4wd    5.4  1999    8    auto(l4)   4   11
89          ford      f150 pickup 4wd    5.4  2008    8    auto(l4)   4   13
200       toyota    toyota tacoma 4wd    2.7  1999    4  manual(m5)   4   15
201       toyota    toyota tacoma 4wd    2.7  1999    4    auto(l4)   4   16
202       toyota    toyota tacoma 4wd    2.7  2008    4  manual(m5)   4   17
203       toyota    toyota tacoma 4wd    3.4  1999    6  manual(m5)   4   15
204       toyota    toyota tacoma 4wd    3.4  1999    6    auto(l4)   4   15
205       toyota    toyota tacoma 4wd    4.0  2008    6  manual(m6)   4   15
206       toyota    toyota tacoma 4wd    4.0  2008    6    auto(l5)   4   16

     hwy fl   class
48    19  r  pickup
49    18  r  pickup
50    17  r  pickup
51    17  r  pickup
52    19  r  pickup
53    19  r  pickup
54    12  e  pickup
55    17  r  pickup
56    15  r  pickup
64    16  r  pickup
65    12  e  pickup
66    17  r  pickup
67    17  r  pickup
68    16  r  pickup
69    12  e  pickup
70    15  r  pickup
71    16  r  pickup
72    17  r  pickup
73    15  r  pickup
83    17  r  pickup
84    17  r  pickup
85    16  r  pickup
86    16  r  pickup
87    17  r  pickup
88    15  r  pickup
89    17  r  pickup
200   20  r  pickup
201   20  r  pickup
202   22  r  pickup
203   17  r  pickup
204   19  r  pickup
205   18  r  pickup
206   20  r  pickup
subcompact
    manufacturer        model  displ  year  cyl       trans drv  cty  hwy fl  \
90          ford      mustang    3.8  1999    6  manual(m5)   r   18   26  r
91          ford      mustang    3.8  1999    6    auto(l4)   r   18   25  r
92          ford      mustang    4.0  2008    6  manual(m5)   r   17   26  r
93          ford      mustang    4.0  2008    6    auto(l5)   r   16   24  r
94          ford      mustang    4.6  1999    8    auto(l4)   r   15   21  r
95          ford      mustang    4.6  1999    8  manual(m5)   r   15   22  r
96          ford      mustang    4.6  2008    8  manual(m5)   r   15   23  r
97          ford      mustang    4.6  2008    8    auto(l5)   r   15   22  r
98          ford      mustang    5.4  2008    8  manual(m6)   r   14   20  p
99         honda        civic    1.6  1999    4  manual(m5)   f   28   33  r
100        honda        civic    1.6  1999    4    auto(l4)   f   24   32  r
101        honda        civic    1.6  1999    4  manual(m5)   f   25   32  r
102        honda        civic    1.6  1999    4  manual(m5)   f   23   29  p
103        honda        civic    1.6  1999    4    auto(l4)   f   24   32  r
104        honda        civic    1.8  2008    4  manual(m5)   f   26   34  r
105        honda        civic    1.8  2008    4    auto(l5)   f   25   36  r
106        honda        civic    1.8  2008    4    auto(l5)   f   24   36  c
107        honda        civic    2.0  2008    4  manual(m6)   f   21   29  p
115      hyundai      tiburon    2.0  1999    4    auto(l4)   f   19   26  r
116      hyundai      tiburon    2.0  1999    4  manual(m5)   f   19   29  r
117      hyundai      tiburon    2.0  2008    4  manual(m5)   f   20   28  r
118      hyundai      tiburon    2.0  2008    4    auto(l4)   f   20   27  r
119      hyundai      tiburon    2.7  2008    6    auto(l4)   f   17   24  r
120      hyundai      tiburon    2.7  2008    6  manual(m6)   f   16   24  r
121      hyundai      tiburon    2.7  2008    6  manual(m5)   f   17   24  r
165       subaru  impreza awd    2.2  1999    4    auto(l4)   4   21   26  r
166       subaru  impreza awd    2.2  1999    4  manual(m5)   4   19   26  r
167       subaru  impreza awd    2.5  1999    4  manual(m5)   4   19   26  r
168       subaru  impreza awd    2.5  1999    4    auto(l4)   4   19   26  r
221   volkswagen   new beetle    1.9  1999    4  manual(m5)   f   35   44  d
222   volkswagen   new beetle    1.9  1999    4    auto(l4)   f   29   41  d
223   volkswagen   new beetle    2.0  1999    4  manual(m5)   f   21   29  r
224   volkswagen   new beetle    2.0  1999    4    auto(l4)   f   19   26  r
225   volkswagen   new beetle    2.5  2008    5  manual(m5)   f   20   28  r
226   volkswagen   new beetle    2.5  2008    5    auto(s6)   f   20   29  r

          class
90   subcompact
91   subcompact
92   subcompact
93   subcompact
94   subcompact
95   subcompact
96   subcompact
97   subcompact
98   subcompact
99   subcompact
100  subcompact
101  subcompact
102  subcompact
103  subcompact
104  subcompact
105  subcompact
106  subcompact
107  subcompact
115  subcompact
116  subcompact
117  subcompact
118  subcompact
119  subcompact
120  subcompact
121  subcompact
165  subcompact
166  subcompact
167  subcompact
168  subcompact
221  subcompact
222  subcompact
223  subcompact
224  subcompact
225  subcompact
226  subcompact
suv
    manufacturer                   model  displ  year  cyl       trans drv  \
18     chevrolet      c1500 suburban 2wd    5.3  2008    8    auto(l4)   r
19     chevrolet      c1500 suburban 2wd    5.3  2008    8    auto(l4)   r
20     chevrolet      c1500 suburban 2wd    5.3  2008    8    auto(l4)   r
21     chevrolet      c1500 suburban 2wd    5.7  1999    8    auto(l4)   r
22     chevrolet      c1500 suburban 2wd    6.0  2008    8    auto(l4)   r
..           ...                     ...    ...   ...  ...         ...  ..
176       toyota             4runner 4wd    3.4  1999    6  manual(m5)   4
177       toyota             4runner 4wd    4.0  2008    6    auto(l5)   4
178       toyota             4runner 4wd    4.7  2008    8    auto(l5)   4
198       toyota  land cruiser wagon 4wd    4.7  1999    8    auto(l4)   4
199       toyota  land cruiser wagon 4wd    5.7  2008    8    auto(s6)   4

     cty  hwy fl class
18    14   20  r   suv
19    11   15  e   suv
20    14   20  r   suv
21    13   17  r   suv
22    12   17  r   suv
..   ...  ... ..   ...
176   15   17  r   suv
177   16   20  r   suv
178   14   17  r   suv
198   11   15  r   suv
199   13   18  r   suv

[62 rows x 11 columns]

In [13]:
df.manufacturer.str.contains(r'chev', )

0      False
1      False
2      False
3      False
4      False
       ...
229    False
230    False
231    False
232    False
233    False
Name: manufacturer, Length: 234, dtype: bool

In [14]:
df.groupby('manufacturer').describe()

             displ                                                       year  \
             count      mean           std  min    25%  50%    75%  max count
manufacturer
audi          18.0  2.544444  6.732032e-01  1.8  2.000  2.8  3.025  4.2  18.0
chevrolet     19.0  5.063158  1.370406e+00  2.4  4.450  5.3  5.850  7.0  19.0
dodge         37.0  4.378378  8.679910e-01  2.4  3.800  4.7  4.700  5.9  37.0
ford          25.0  4.536000  5.407402e-01  3.8  4.000  4.6  4.600  5.4  25.0
honda          9.0  1.711111  1.452966e-01  1.6  1.600  1.6  1.800  2.0   9.0
hyundai       14.0  2.428571  3.646464e-01  2.0  2.100  2.4  2.650  3.3  14.0
jeep           8.0  4.575000  1.015241e+00  3.0  3.925  4.7  4.950  6.1   8.0
land rover     4.0  4.300000  2.581989e-01  4.0  4.150  4.3  4.450  4.6   4.0
lincoln        3.0  5.400000  1.087792e-15  5.4  5.400  5.4  5.400  5.4   3.0
mercury        4.0  4.400000  4.898979e-01  4.0  4.000  4.3  4.700  5.0   4.0
nissan        13.0  3.269231  8.644696e-01  2.4  2.500  3.3  3.500  5.6  13.0
pontiac        5.0  3.960000  8.080842e-01  3.1  3.800  3.8  3.800  5.3   5.0
subaru        14.0  2.457143  1.089410e-01  2.2  2.500  2.5  2.500  2.5  14.0
toyota        34.0  2.952941  9.313513e-01  1.8  2.250  2.7  3.400  5.7  34.0
volkswagen    27.0  2.255556  4.431820e-01  1.8  2.000  2.0  2.500  3.6  27.0

                           ...    cty         hwy                             \
                     mean  ...    75%   max count       mean       std   min
manufacturer               ...
audi          2003.500000  ...  18.75  21.0  18.0  26.444444  2.175322  23.0
chevrolet     2004.684211  ...  16.50  22.0  19.0  21.894737  5.108759  14.0
dodge         2004.108108  ...  15.00  18.0  37.0  17.945946  3.574182  12.0
ford          2002.600000  ...  15.00  18.0  25.0  19.360000  3.327662  15.0
honda         2003.000000  ...  25.00  28.0   9.0  32.555556  2.554952  29.0
hyundai       2004.142857  ...  19.75  21.0  14.0  26.857143  2.178819  24.0
jeep          2005.750000  ...  15.00  17.0   8.0  17.625000  3.248626  12.0
land rover    2003.500000  ...  12.00  12.0   4.0  16.500000  1.732051  15.0
lincoln       2002.000000  ...  11.50  12.0   3.0  17.000000  1.000000  16.0
mercury       2003.500000  ...  13.25  14.0   4.0  18.000000  1.154701  17.0
nissan        2003.846154  ...  19.00  23.0  13.0  24.615385  5.091471  17.0
pontiac       2002.600000  ...  18.00  18.0   5.0  26.400000  1.140175  25.0
subaru        2004.142857  ...  20.00  21.0  14.0  25.571429  1.157868  23.0
toyota        2002.705882  ...  21.00  28.0  34.0  24.911765  6.166221  15.0
volkswagen    2002.666667  ...  21.00  35.0  27.0  29.222222  5.315676  23.0


                25%   50%    75%   max
manufacturer
audi          25.00  26.0  27.75  31.0
chevrolet     17.00  23.0  26.00  30.0
dodge         16.00  17.0  21.00  24.0
ford          17.00  18.0  22.00  26.0
honda         32.00  32.0  34.00  36.0
hyundai       26.00  26.5  28.00  31.0
jeep          16.25  18.5  19.25  22.0
land rover    15.00  16.5  18.00  18.0
lincoln       16.50  17.0  17.50  18.0
mercury       17.00  18.0  19.00  19.0
nissan        20.00  26.0  27.00  32.0
pontiac       26.00  26.0  27.00  28.0
subaru        25.00  26.0  26.00  27.0
toyota        20.00  26.0  29.75  37.0
volkswagen    26.00  29.0  29.00  44.0

[15 rows x 40 columns]

In [15]:
g.mean()

TypeError: agg function failed [how->mean,dtype->object]

In [16]:
g.mean()

TypeError: agg function failed [how->mean,dtype->object]

In [ ]:
g.mean()[['cty','hwy']]

In [ ]:
g2=df.groupby(['class','drv'])
g2.groups

In [ ]:
g2.corr()