In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('msleep.csv')
df

,name,genus,vore,order,conservation,sleep_total,sleep_rem,sleep_cycle,awake,brainwt,bodywt
0,Cheetah,Acinonyx,carni,Carnivora,lc,12.1,NaN,NaN,11.9,NaN,50.000
1,Owl monkey,Aotus,omni,Primates,NaN,17.0,1.8,NaN,7.0,0.01550,0.480
2,Mountain beaver,Aplodontia,herbi,Rodentia,nt,14.4,2.4,NaN,9.6,NaN,1.350
3,Greater short-tailed shrew,Blarina,omni,Soricomorpha,lc,14.9,2.3,0.133333,9.1,0.00029,0.019
4,Cow,Bos,herbi,Artiodactyla,domesticated,4.0,0.7,0.666667,20.0,0.42300,600.000
...,...,...,...,...,...,...,...,...,...,...,...
78,Tree shrew,Tupaia,omni,Scandentia,NaN,8.9,2.6,0.233333,15.1,0.00250,0.104
79,Bottle-nosed dolphin,Tursiops,carni,Cetacea,NaN,5.2,NaN,NaN,18.8,NaN,173.330
80,Genet,Genetta,carni,Carnivora,NaN,6.3,1.3,NaN,17.7,0.01750,2.000
81,Arctic fox,Vulpes,carni,Carnivora,NaN,12.5,NaN,NaN,11.5,0.04450,3.380
82,Red fox,Vulpes,carni,Carnivora,NaN,9.8,2.4,0.350000,14.2,0.05040,4.230

In [3]:
df.dropna()

,name,genus,vore,order,conservation,sleep_total,sleep_rem,sleep_cycle,awake,brainwt,bodywt
3,Greater short-tailed shrew,Blarina,omni,Soricomorpha,lc,14.9,2.3,0.133333,9.1,0.00029,0.019
4,Cow,Bos,herbi,Artiodactyla,domesticated,4.0,0.7,0.666667,20.0,0.42300,600.000
8,Dog,Canis,carni,Carnivora,domesticated,10.1,2.9,0.333333,13.9,0.07000,14.000
11,Guinea pig,Cavis,herbi,Rodentia,domesticated,9.4,0.8,0.216667,14.6,0.00550,0.728
13,Chinchilla,Chinchilla,herbi,Rodentia,domesticated,12.5,1.5,0.116667,11.5,0.00640,0.420
16,Lesser short-tailed shrew,Cryptotis,omni,Soricomorpha,lc,9.1,1.4,0.150000,14.9,0.00014,0.005
17,Long-nosed armadillo,Dasypus,carni,Cingulata,lc,17.4,3.1,0.383333,6.6,0.01080,3.500
19,North American Opossum,Didelphis,omni,Didelphimorphia,lc,18.0,4.9,0.333333,6.0,0.00630,1.700
21,Big brown bat,Eptesicus,insecti,Chiroptera,lc,19.7,3.9,0.116667,4.3,0.00030,0.023
22,Horse,Equus,herbi,Perissodactyla,domesticated,2.9,0.6,1.000000,21.1,0.65500,521.000
24,European hedgehog,Erinaceus,omni,Erinaceomorpha,lc,10.1,3.5,0.283333,13.9,0.00350,0.770
27,Domestic cat,Felis,carni,Carnivora,domesticated,12.5,3.2,0.416667,11.5,0.02560,3.300
39,Golden hamster,Mesocricetus,herbi,Rodentia,en,14.3,3.1,0.200000,9.7,0.00100,0.120
41,House mouse,Mus,herbi,Rodentia,nt,12.5,1.4,0.183333,11.5,0.00040,0.022
47,Rabbit,Oryctolagus,herbi,Lagomorpha,domesticated,8.4,0.9,0.416667,15.6,0.01210,2.500
63,Laboratory rat,Rattus,herbi,Rodentia,lc,13.0,2.4,0.183333,11.0,0.00190,0.320
66,Eastern american mole,Scalopus,insecti,Soricomorpha,lc,8.4,2.1,0.166667,15.6,0.00120,0.075
70,Thirteen-lined ground squirrel,Spermophilus,herbi,Rodentia,lc,13.8,3.4,0.216667,10.2,0.00400,0.101
73,Pig,Sus,omni,Artiodactyla,domesticated,9.1,2.4,0.500000,14.9,0.18000,86.250
76,Brazilian tapir,Tapirus,herbi,Perissodactyla,vu,4.4,1.0,0.900000,19.6,0.16900,207.501

In [4]:
df1 = df.dropna()
df1

,name,genus,vore,order,conservation,sleep_total,sleep_rem,sleep_cycle,awake,brainwt,bodywt
3,Greater short-tailed shrew,Blarina,omni,Soricomorpha,lc,14.9,2.3,0.133333,9.1,0.00029,0.019
4,Cow,Bos,herbi,Artiodactyla,domesticated,4.0,0.7,0.666667,20.0,0.42300,600.000
8,Dog,Canis,carni,Carnivora,domesticated,10.1,2.9,0.333333,13.9,0.07000,14.000
11,Guinea pig,Cavis,herbi,Rodentia,domesticated,9.4,0.8,0.216667,14.6,0.00550,0.728
13,Chinchilla,Chinchilla,herbi,Rodentia,domesticated,12.5,1.5,0.116667,11.5,0.00640,0.420
16,Lesser short-tailed shrew,Cryptotis,omni,Soricomorpha,lc,9.1,1.4,0.150000,14.9,0.00014,0.005
17,Long-nosed armadillo,Dasypus,carni,Cingulata,lc,17.4,3.1,0.383333,6.6,0.01080,3.500
19,North American Opossum,Didelphis,omni,Didelphimorphia,lc,18.0,4.9,0.333333,6.0,0.00630,1.700
21,Big brown bat,Eptesicus,insecti,Chiroptera,lc,19.7,3.9,0.116667,4.3,0.00030,0.023
22,Horse,Equus,herbi,Perissodactyla,domesticated,2.9,0.6,1.000000,21.1,0.65500,521.000
24,European hedgehog,Erinaceus,omni,Erinaceomorpha,lc,10.1,3.5,0.283333,13.9,0.00350,0.770
27,Domestic cat,Felis,carni,Carnivora,domesticated,12.5,3.2,0.416667,11.5,0.02560,3.300
39,Golden hamster,Mesocricetus,herbi,Rodentia,en,14.3,3.1,0.200000,9.7,0.00100,0.120
41,House mouse,Mus,herbi,Rodentia,nt,12.5,1.4,0.183333,11.5,0.00040,0.022
47,Rabbit,Oryctolagus,herbi,Lagomorpha,domesticated,8.4,0.9,0.416667,15.6,0.01210,2.500
63,Laboratory rat,Rattus,herbi,Rodentia,lc,13.0,2.4,0.183333,11.0,0.00190,0.320
66,Eastern american mole,Scalopus,insecti,Soricomorpha,lc,8.4,2.1,0.166667,15.6,0.00120,0.075
70,Thirteen-lined ground squirrel,Spermophilus,herbi,Rodentia,lc,13.8,3.4,0.216667,10.2,0.00400,0.101
73,Pig,Sus,omni,Artiodactyla,domesticated,9.1,2.4,0.500000,14.9,0.18000,86.250
76,Brazilian tapir,Tapirus,herbi,Perissodactyla,vu,4.4,1.0,0.900000,19.6,0.16900,207.501

In [7]:
print(f"df = {df.shape } df1 = {df1.shape}")

df = (83, 11) df1 = (20, 11)

In [9]:
df2 = df1.dropna(axis=1)
df2

,name,genus,vore,order,conservation,sleep_total,sleep_rem,sleep_cycle,awake,brainwt,bodywt
3,Greater short-tailed shrew,Blarina,omni,Soricomorpha,lc,14.9,2.3,0.133333,9.1,0.00029,0.019
4,Cow,Bos,herbi,Artiodactyla,domesticated,4.0,0.7,0.666667,20.0,0.42300,600.000
8,Dog,Canis,carni,Carnivora,domesticated,10.1,2.9,0.333333,13.9,0.07000,14.000
11,Guinea pig,Cavis,herbi,Rodentia,domesticated,9.4,0.8,0.216667,14.6,0.00550,0.728
13,Chinchilla,Chinchilla,herbi,Rodentia,domesticated,12.5,1.5,0.116667,11.5,0.00640,0.420
16,Lesser short-tailed shrew,Cryptotis,omni,Soricomorpha,lc,9.1,1.4,0.150000,14.9,0.00014,0.005
17,Long-nosed armadillo,Dasypus,carni,Cingulata,lc,17.4,3.1,0.383333,6.6,0.01080,3.500
19,North American Opossum,Didelphis,omni,Didelphimorphia,lc,18.0,4.9,0.333333,6.0,0.00630,1.700
21,Big brown bat,Eptesicus,insecti,Chiroptera,lc,19.7,3.9,0.116667,4.3,0.00030,0.023
22,Horse,Equus,herbi,Perissodactyla,domesticated,2.9,0.6,1.000000,21.1,0.65500,521.000
24,European hedgehog,Erinaceus,omni,Erinaceomorpha,lc,10.1,3.5,0.283333,13.9,0.00350,0.770
27,Domestic cat,Felis,carni,Carnivora,domesticated,12.5,3.2,0.416667,11.5,0.02560,3.300
39,Golden hamster,Mesocricetus,herbi,Rodentia,en,14.3,3.1,0.200000,9.7,0.00100,0.120
41,House mouse,Mus,herbi,Rodentia,nt,12.5,1.4,0.183333,11.5,0.00040,0.022
47,Rabbit,Oryctolagus,herbi,Lagomorpha,domesticated,8.4,0.9,0.416667,15.6,0.01210,2.500
63,Laboratory rat,Rattus,herbi,Rodentia,lc,13.0,2.4,0.183333,11.0,0.00190,0.320
66,Eastern american mole,Scalopus,insecti,Soricomorpha,lc,8.4,2.1,0.166667,15.6,0.00120,0.075
70,Thirteen-lined ground squirrel,Spermophilus,herbi,Rodentia,lc,13.8,3.4,0.216667,10.2,0.00400,0.101
73,Pig,Sus,omni,Artiodactyla,domesticated,9.1,2.4,0.500000,14.9,0.18000,86.250
76,Brazilian tapir,Tapirus,herbi,Perissodactyla,vu,4.4,1.0,0.900000,19.6,0.16900,207.501

In [10]:
df3 = pd.read_csv('qnaire_missing_values.csv')

In [11]:
df3

    obs gender   age  eq1  eq2  eq3  eq4  eq5  eq6  eq7  eq8  eq9  eq10
0     1      M  37.0  1.0  5.0  2.0  1.0  1.0  5.0  3.0  5.0  4.0   2.0
1     2      F   NaN  NaN  1.0  4.0  1.0  1.0  2.0  3.0  5.0  4.0   2.0
2     3    NaN  29.0  2.0  5.0  NaN  2.0  5.0  NaN  3.0  3.0  1.0   1.0
3     4      M  25.0  5.0  2.0  4.0  NaN  4.0  4.0  2.0  4.0  4.0   1.0
4     5      F  19.0  1.0  5.0  4.0  4.0  5.0  2.0  3.0  2.0  2.0   1.0
5     6    NaN  26.0  4.0  5.0  NaN  2.0  4.0  2.0  NaN  NaN  NaN   3.0
6     7      F   NaN  3.0  2.0  3.0  5.0  1.0  1.0  2.0  3.0  4.0   4.0
7     8      F  40.0  5.0  2.0  3.0  1.0  2.0  NaN  2.0  1.0  3.0   NaN
8     9      M  39.0  5.0  NaN  NaN  2.0  2.0  2.0  3.0  1.0  2.0   5.0
9    10    NaN   NaN  5.0  4.0  1.0  5.0  4.0  5.0  5.0  3.0  4.0   1.0
10   11      F  31.0  2.0  NaN  NaN  NaN  1.0  NaN  3.0  1.0  1.0   5.0
11   12      F  29.0  3.0  4.0  2.0  2.0  2.0  2.0  1.0  5.0  3.0   4.0
12   13      F   NaN  4.0  4.0  4.0  2.0  2.0  3.0  4.0  4.0  4.0   2.0
13   14      M   NaN  NaN  NaN  NaN  NaN  1.0  2.0  2.0  NaN  4.0   2.0
14   15      F  34.0  4.0  5.0  1.0  2.0  NaN  3.0  NaN  1.0  2.0   4.0

In [12]:
df3.dropna()

    obs gender   age  eq1  eq2  eq3  eq4  eq5  eq6  eq7  eq8  eq9  eq10
0     1      M  37.0  1.0  5.0  2.0  1.0  1.0  5.0  3.0  5.0  4.0   2.0
4     5      F  19.0  1.0  5.0  4.0  4.0  5.0  2.0  3.0  2.0  2.0   1.0
11   12      F  29.0  3.0  4.0  2.0  2.0  2.0  2.0  1.0  5.0  3.0   4.0

In [14]:
df3.dropna(thresh=10)

    obs gender   age  eq1  eq2  eq3  eq4  eq5  eq6  eq7  eq8  eq9  eq10
0     1      M  37.0  1.0  5.0  2.0  1.0  1.0  5.0  3.0  5.0  4.0   2.0
1     2      F   NaN  NaN  1.0  4.0  1.0  1.0  2.0  3.0  5.0  4.0   2.0
2     3    NaN  29.0  2.0  5.0  NaN  2.0  5.0  NaN  3.0  3.0  1.0   1.0
3     4      M  25.0  5.0  2.0  4.0  NaN  4.0  4.0  2.0  4.0  4.0   1.0
4     5      F  19.0  1.0  5.0  4.0  4.0  5.0  2.0  3.0  2.0  2.0   1.0
6     7      F   NaN  3.0  2.0  3.0  5.0  1.0  1.0  2.0  3.0  4.0   4.0
7     8      F  40.0  5.0  2.0  3.0  1.0  2.0  NaN  2.0  1.0  3.0   NaN
8     9      M  39.0  5.0  NaN  NaN  2.0  2.0  2.0  3.0  1.0  2.0   5.0
9    10    NaN   NaN  5.0  4.0  1.0  5.0  4.0  5.0  5.0  3.0  4.0   1.0
11   12      F  29.0  3.0  4.0  2.0  2.0  2.0  2.0  1.0  5.0  3.0   4.0
12   13      F   NaN  4.0  4.0  4.0  2.0  2.0  3.0  4.0  4.0  4.0   2.0
14   15      F  34.0  4.0  5.0  1.0  2.0  NaN  3.0  NaN  1.0  2.0   4.0

In [18]:
df3.dropna(thresh = 8, subset=['eq1', 'eq2', 'eq3', 'eq4', 'eq5', 'eq6', 'eq7',
       'eq8', 'eq9', 'eq10'])

    obs gender   age  eq1  eq2  eq3  eq4  eq5  eq6  eq7  eq8  eq9  eq10
0     1      M  37.0  1.0  5.0  2.0  1.0  1.0  5.0  3.0  5.0  4.0   2.0
1     2      F   NaN  NaN  1.0  4.0  1.0  1.0  2.0  3.0  5.0  4.0   2.0
2     3    NaN  29.0  2.0  5.0  NaN  2.0  5.0  NaN  3.0  3.0  1.0   1.0
3     4      M  25.0  5.0  2.0  4.0  NaN  4.0  4.0  2.0  4.0  4.0   1.0
4     5      F  19.0  1.0  5.0  4.0  4.0  5.0  2.0  3.0  2.0  2.0   1.0
6     7      F   NaN  3.0  2.0  3.0  5.0  1.0  1.0  2.0  3.0  4.0   4.0
7     8      F  40.0  5.0  2.0  3.0  1.0  2.0  NaN  2.0  1.0  3.0   NaN
8     9      M  39.0  5.0  NaN  NaN  2.0  2.0  2.0  3.0  1.0  2.0   5.0
9    10    NaN   NaN  5.0  4.0  1.0  5.0  4.0  5.0  5.0  3.0  4.0   1.0
11   12      F  29.0  3.0  4.0  2.0  2.0  2.0  2.0  1.0  5.0  3.0   4.0
12   13      F   NaN  4.0  4.0  4.0  2.0  2.0  3.0  4.0  4.0  4.0   2.0
14   15      F  34.0  4.0  5.0  1.0  2.0  NaN  3.0  NaN  1.0  2.0   4.0

In [20]:
df3.columns.str.contains('eq')

array([False, False, False,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True])

In [22]:
df3.columns[df3.columns.str.contains('eq')]

Index(['eq1', 'eq2', 'eq3', 'eq4', 'eq5', 'eq6', 'eq7', 'eq8', 'eq9', 'eq10'], dtype='object')

In [26]:
df3.dropna(subset=df3.columns[df3.columns.str.contains('eq')])

    obs gender   age  eq1  eq2  eq3  eq4  eq5  eq6  eq7  eq8  eq9  eq10
0     1      M  37.0  1.0  5.0  2.0  1.0  1.0  5.0  3.0  5.0  4.0   2.0
4     5      F  19.0  1.0  5.0  4.0  4.0  5.0  2.0  3.0  2.0  2.0   1.0
6     7      F   NaN  3.0  2.0  3.0  5.0  1.0  1.0  2.0  3.0  4.0   4.0
9    10    NaN   NaN  5.0  4.0  1.0  5.0  4.0  5.0  5.0  3.0  4.0   1.0
11   12      F  29.0  3.0  4.0  2.0  2.0  2.0  2.0  1.0  5.0  3.0   4.0
12   13      F   NaN  4.0  4.0  4.0  2.0  2.0  3.0  4.0  4.0  4.0   2.0