In [1]:
import pandas as pd

In [4]:
df = pd.read_csv('staff.csv',
                index_col='empID')

In [5]:
df

,fname,lname,sex,dob,position,department,salary,join_date
empID,,,,,,,,
604,กันตภณ,ซ่อนกลิ่น,M,5-Mar-1994,ผู้จัดการ,HR,"13,000",28-Feb-2016
607,เกศินี,สายหยุด,F,6-Dec-1968,ผู้ช่วยผู้จัดการ,FIN,"40,000",30-Nov-1987
486,ชัชลัญญา,ลั่นทม,F,1-Jun-1987,ผู้ช่วยผู้จัดการ,FIN,"25,000",26-May-2009
229,ชาติไทย,เสี้ยวดอกแดง,M,27-Jul-1991,พนักงานระดับต้น,MKT,"39,000",21-Jul-2015
901,โชติมา,อรคนธ์,F,21-Aug-1974,รองผู้จัดการ,MKT,"82,500",18-Sep-2007
944,ฐิติรัตน์,ตันหยง,F,15-Aug-1975,พนักงานระดับต้น,HR,"38,000",9-Aug-1996
405,ณภัทร,มณฑา,M,8-Nov-1963,พนักงานระดับต้น,FIN,"35,000",2-Nov-1984
665,ณัชชา,สนสร้อย,F,17-Jun-1983,ผู้ชำนาญงาน,ACC,"21,000",11-Mar-2017
41,ณัฐญาณิน,มะลิลา,F,11-Feb-1987,ผู้จัดการ,MKT,"36,000",5-Feb-2012
171,ณิชา,ประดู่,F,3-Apr-1962,พนักงานระดับต้น,HR,"25,000",28-Mar-2017
51,ณิรดา,คัดเค้าเครือ,F,27-Apr-1972,ผู้จัดการ,MKT,"101,500",29-Oct-2001
724,เดชชัย,พุทธชาติสามสี,M,13-May-1983,ผู้ช่วยผู้จัดการ,MKT,"77,500",8-Mar-2004

In [6]:
df.position.unique()

array(['ผู้จัดการ', 'ผู้ช่วยผู้จัดการ', 'พนักงานระดับต้น', 'รองผู้จัดการ',
       'ผู้ชำนาญงาน'], dtype=object)

In [7]:
df.sort_values('position')

,fname,lname,sex,dob,position,department,salary,join_date
empID,,,,,,,,
604,กันตภณ,ซ่อนกลิ่น,M,5-Mar-1994,ผู้จัดการ,HR,"13,000",28-Feb-2016
41,ณัฐญาณิน,มะลิลา,F,11-Feb-1987,ผู้จัดการ,MKT,"36,000",5-Feb-2012
51,ณิรดา,คัดเค้าเครือ,F,27-Apr-1972,ผู้จัดการ,MKT,"101,500",29-Oct-2001
665,ณัชชา,สนสร้อย,F,17-Jun-1983,ผู้ชำนาญงาน,ACC,"21,000",11-Mar-2017
607,เกศินี,สายหยุด,F,6-Dec-1968,ผู้ช่วยผู้จัดการ,FIN,"40,000",30-Nov-1987
486,ชัชลัญญา,ลั่นทม,F,1-Jun-1987,ผู้ช่วยผู้จัดการ,FIN,"25,000",26-May-2009
724,เดชชัย,พุทธชาติสามสี,M,13-May-1983,ผู้ช่วยผู้จัดการ,MKT,"77,500",8-Mar-2004
229,ชาติไทย,เสี้ยวดอกแดง,M,27-Jul-1991,พนักงานระดับต้น,MKT,"39,000",21-Jul-2015
944,ฐิติรัตน์,ตันหยง,F,15-Aug-1975,พนักงานระดับต้น,HR,"38,000",9-Aug-1996
405,ณภัทร,มณฑา,M,8-Nov-1963,พนักงานระดับต้น,FIN,"35,000",2-Nov-1984
171,ณิชา,ประดู่,F,3-Apr-1962,พนักงานระดับต้น,HR,"25,000",28-Mar-2017
901,โชติมา,อรคนธ์,F,21-Aug-1974,รองผู้จัดการ,MKT,"82,500",18-Sep-2007

In [15]:
df['position_cat'] = pd.Categorical(df['position'],
                                   categories=['ผู้จัดการ', 'รองผู้จัดการ', 'ผู้ช่วยผู้จัดการ', 'ผู้ชำนาญงาน', 'พนักงานระดับต้น'],
                                     ordered=True)

In [16]:
df

,fname,lname,sex,dob,position,department,salary,join_date,position_cat
empID,,,,,,,,,
604,กันตภณ,ซ่อนกลิ่น,M,5-Mar-1994,ผู้จัดการ,HR,"13,000",28-Feb-2016,ผู้จัดการ
607,เกศินี,สายหยุด,F,6-Dec-1968,ผู้ช่วยผู้จัดการ,FIN,"40,000",30-Nov-1987,ผู้ช่วยผู้จัดการ
486,ชัชลัญญา,ลั่นทม,F,1-Jun-1987,ผู้ช่วยผู้จัดการ,FIN,"25,000",26-May-2009,ผู้ช่วยผู้จัดการ
229,ชาติไทย,เสี้ยวดอกแดง,M,27-Jul-1991,พนักงานระดับต้น,MKT,"39,000",21-Jul-2015,พนักงานระดับต้น
901,โชติมา,อรคนธ์,F,21-Aug-1974,รองผู้จัดการ,MKT,"82,500",18-Sep-2007,รองผู้จัดการ
944,ฐิติรัตน์,ตันหยง,F,15-Aug-1975,พนักงานระดับต้น,HR,"38,000",9-Aug-1996,พนักงานระดับต้น
405,ณภัทร,มณฑา,M,8-Nov-1963,พนักงานระดับต้น,FIN,"35,000",2-Nov-1984,พนักงานระดับต้น
665,ณัชชา,สนสร้อย,F,17-Jun-1983,ผู้ชำนาญงาน,ACC,"21,000",11-Mar-2017,ผู้ชำนาญงาน
41,ณัฐญาณิน,มะลิลา,F,11-Feb-1987,ผู้จัดการ,MKT,"36,000",5-Feb-2012,ผู้จัดการ
171,ณิชา,ประดู่,F,3-Apr-1962,พนักงานระดับต้น,HR,"25,000",28-Mar-2017,พนักงานระดับต้น
51,ณิรดา,คัดเค้าเครือ,F,27-Apr-1972,ผู้จัดการ,MKT,"101,500",29-Oct-2001,ผู้จัดการ
724,เดชชัย,พุทธชาติสามสี,M,13-May-1983,ผู้ช่วยผู้จัดการ,MKT,"77,500",8-Mar-2004,ผู้ช่วยผู้จัดการ

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, 604 to 724
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   fname         12 non-null     object
 1   lname         12 non-null     object
 2   sex           12 non-null     object
 3   dob           12 non-null     object
 4   position      12 non-null     object
 5   department    12 non-null     object
 6   salary        12 non-null     object
 7   join_date     12 non-null     object
 8   position_cat  12 non-null     category
dtypes: category(1), object(8)
memory usage: 1.1+ KB

In [19]:
df.sort_values('position_cat')

,fname,lname,sex,dob,position,department,salary,join_date,position_cat
empID,,,,,,,,,
604,กันตภณ,ซ่อนกลิ่น,M,5-Mar-1994,ผู้จัดการ,HR,"13,000",28-Feb-2016,ผู้จัดการ
41,ณัฐญาณิน,มะลิลา,F,11-Feb-1987,ผู้จัดการ,MKT,"36,000",5-Feb-2012,ผู้จัดการ
51,ณิรดา,คัดเค้าเครือ,F,27-Apr-1972,ผู้จัดการ,MKT,"101,500",29-Oct-2001,ผู้จัดการ
901,โชติมา,อรคนธ์,F,21-Aug-1974,รองผู้จัดการ,MKT,"82,500",18-Sep-2007,รองผู้จัดการ
607,เกศินี,สายหยุด,F,6-Dec-1968,ผู้ช่วยผู้จัดการ,FIN,"40,000",30-Nov-1987,ผู้ช่วยผู้จัดการ
486,ชัชลัญญา,ลั่นทม,F,1-Jun-1987,ผู้ช่วยผู้จัดการ,FIN,"25,000",26-May-2009,ผู้ช่วยผู้จัดการ
724,เดชชัย,พุทธชาติสามสี,M,13-May-1983,ผู้ช่วยผู้จัดการ,MKT,"77,500",8-Mar-2004,ผู้ช่วยผู้จัดการ
665,ณัชชา,สนสร้อย,F,17-Jun-1983,ผู้ชำนาญงาน,ACC,"21,000",11-Mar-2017,ผู้ชำนาญงาน
229,ชาติไทย,เสี้ยวดอกแดง,M,27-Jul-1991,พนักงานระดับต้น,MKT,"39,000",21-Jul-2015,พนักงานระดับต้น
944,ฐิติรัตน์,ตันหยง,F,15-Aug-1975,พนักงานระดับต้น,HR,"38,000",9-Aug-1996,พนักงานระดับต้น
405,ณภัทร,มณฑา,M,8-Nov-1963,พนักงานระดับต้น,FIN,"35,000",2-Nov-1984,พนักงานระดับต้น
171,ณิชา,ประดู่,F,3-Apr-1962,พนักงานระดับต้น,HR,"25,000",28-Mar-2017,พนักงานระดับต้น

In [21]:
df.position_cat

empID
604           ผู้จัดการ
607    ผู้ช่วยผู้จัดการ
486    ผู้ช่วยผู้จัดการ
229     พนักงานระดับต้น
901        รองผู้จัดการ
944     พนักงานระดับต้น
405     พนักงานระดับต้น
665         ผู้ชำนาญงาน
41            ผู้จัดการ
171     พนักงานระดับต้น
51            ผู้จัดการ
724    ผู้ช่วยผู้จัดการ
Name: position_cat, dtype: category
Categories (5, object): ['ผู้จัดการ' < 'รองผู้จัดการ' < 'ผู้ช่วยผู้จัดการ' < 'ผู้ชำนาญงาน' < 'พนักงานระดับต้น']

In [22]:
df.position_cat.cat.codes

empID
604    0
607    2
486    2
229    4
901    1
944    4
405    4
665    3
41     0
171    4
51     0
724    2
dtype: int8

In [23]:
df['position_cat_code'] = df.position_cat.cat.codes
df

,fname,lname,sex,dob,position,department,salary,join_date,position_cat,position_cat_code
empID,,,,,,,,,,
604,กันตภณ,ซ่อนกลิ่น,M,5-Mar-1994,ผู้จัดการ,HR,"13,000",28-Feb-2016,ผู้จัดการ,0
607,เกศินี,สายหยุด,F,6-Dec-1968,ผู้ช่วยผู้จัดการ,FIN,"40,000",30-Nov-1987,ผู้ช่วยผู้จัดการ,2
486,ชัชลัญญา,ลั่นทม,F,1-Jun-1987,ผู้ช่วยผู้จัดการ,FIN,"25,000",26-May-2009,ผู้ช่วยผู้จัดการ,2
229,ชาติไทย,เสี้ยวดอกแดง,M,27-Jul-1991,พนักงานระดับต้น,MKT,"39,000",21-Jul-2015,พนักงานระดับต้น,4
901,โชติมา,อรคนธ์,F,21-Aug-1974,รองผู้จัดการ,MKT,"82,500",18-Sep-2007,รองผู้จัดการ,1
944,ฐิติรัตน์,ตันหยง,F,15-Aug-1975,พนักงานระดับต้น,HR,"38,000",9-Aug-1996,พนักงานระดับต้น,4
405,ณภัทร,มณฑา,M,8-Nov-1963,พนักงานระดับต้น,FIN,"35,000",2-Nov-1984,พนักงานระดับต้น,4
665,ณัชชา,สนสร้อย,F,17-Jun-1983,ผู้ชำนาญงาน,ACC,"21,000",11-Mar-2017,ผู้ชำนาญงาน,3
41,ณัฐญาณิน,มะลิลา,F,11-Feb-1987,ผู้จัดการ,MKT,"36,000",5-Feb-2012,ผู้จัดการ,0
171,ณิชา,ประดู่,F,3-Apr-1962,พนักงานระดับต้น,HR,"25,000",28-Mar-2017,พนักงานระดับต้น,4
51,ณิรดา,คัดเค้าเครือ,F,27-Apr-1972,ผู้จัดการ,MKT,"101,500",29-Oct-2001,ผู้จัดการ,0
724,เดชชัย,พุทธชาติสามสี,M,13-May-1983,ผู้ช่วยผู้จัดการ,MKT,"77,500",8-Mar-2004,ผู้ช่วยผู้จัดการ,2